body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#app {
  display: flex;
  flex-direction: row;
}

#main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header {
  display: flex;
  justify-content: center;
  text-align: center;
}

#main-title {
  font-size: 5em;
  color: seagreen;
}

#right-panel {
  margin-top: 100px;
}

#panel-title {
  color: white;
}

.container-row {
  display: flex;
  flex-direction: row;
}

#gathering-list-title {
  text-align: center;
}

#search-bar {
  margin-bottom: 15px;
}

.gathering {
  border-style: solid;
  border-width: 2px;
  text-align: left;
  padding: 5px;
}

.gathering-title {
  font-size: 25px;
}




#info-panel {
  margin-top: 60px;
}

#focusedInput {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

#add-gathering-button {
  text-align: center;
  
}
